body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom right, #FF5733, #33FF57);
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 700px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.output {
  text-align: left;
  padding: 10px;
  background-color: #f5f5f5;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 24px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  border: none;
  background: #333;
  color: white;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
}

button:hover {
  background: #555;
}
.btn {
  display: flex;
}